name: Criar Pull Request

on:
  push:
    branches:
      - branch-de-alteracoes  # Substitua pela branch que deseja monitorar

jobs:
  create-pr:
    runs-on: ubuntu-latest
    steps:
    - name: Checar o repositório
      uses: actions/checkout@v3

    - name: Configurar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Instalar dependências
      run: |
        python -m pip install --upgrade pip
        pip install PyGithub

    - name: Criar Pull Request
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        python .github/scripts/pull_request.py