name: Auto Create PR on Branch Creation

on:
  push:
    branches:
      - "CGH*"

jobs:
  create-pr:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Create PR para main
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: main # A branch recém-criada
          author: ${{ github.actor }} <${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com>
          base: CGH-112233  # A branch de destino da PR, ajuste conforme necessário
          title: "Auto PR - Branch ${{ github.ref_name }}"
          body: "Essa PR foi criada automaticamente para a branch ${{ github.ref_name }}"
          draft: false  # Defina como 'true' se quiser criar a PR como rascunho.........................
          labels: |
            pr automatica